/*Mempelajari Float, List Modify, Size, dan Padding.
Size berfungsi untuk mengubah ukuran dari berbagai macam element salah satunya font-size dan height
Padding berfungsi untuk mengatur jarak antar element didalam sebuah container / wadah*/

li{
    /*life style berfungsi untuk menghilangkan bullet atau titik pada list item*/
        list-style: none;
        color: #fff;
    }
    
    .Header{
        background-color: #26d0c9;
        height: 90px; /*Ini adalah ukuran dari container / wadah*/
    }
    
    .Header-logo{
        color: #fff;
        float: left;
        font-size: 36px;
        padding: 20px 40px 20px 40px;
    }
    
    /*list class dibawah ini adalah class khusus dimana style list dapat dibedakan dengan membuat class lalu ditambahkan li setelah nama class*/
    .Header-list li{
    
        /*Float berfungsi untuk mengubah letak element yang awalnya vertikal menjadi horizontal*/
        float: left;
        /*Padding memiliki berbagai macam penulisan ada yang shorthand ada juga yang memanggil fungction masing masing
        contoh function masing-masing padding-top, padding-left, dll
        contoh shorthand padding: (top px) (right px) (bottom px) (left px);*/
        padding: 33px 20px 33px 20px;
        
    }
    
    /*Class main berfungsi sebagai container yang menampung element element content website*/
    .Main{
        padding: 100px 80px;
    }

    .content{
        height: 700px;
    }

    /*Styling border h3 pada class section-title */
    .section-title{
        font-size: 28px;
        border-bottom: 2px solid #dee7ec;
        padding-bottom: 20px;
        /*Margin adalal function untuk mengatur letak antar element dengan diluar element*/
        /*Penulisan margin sama seperti padding Margin: (top px) (right px) (bottom px) (left px);*/
        margin-bottom: 50px;
    }

    /*Styling element <h1> pada class copy-container*/
    .copy-container h1{
        font-size: 140px;
    }
    /*Styling element <h2> pada class copy-container*/
    .copy-container h2{
        font-size: 60px;
    }
    /*Styling element <span> pada class copy-container*/
    .copy-container span{
        color: #ff4a4a;
    }
    
    /*Styling content item */
    .contents-item{
        padding-right: 40px;
        float: left;
    }
    .contents-item p{
        font-size: 24x;
        margin-top: 30px;
    }

    /*Styling contact-form*/
    .contact-form{
        padding-top: 100px;
    }
    /*Styling submit box*/
    .contact-submit{
        background-color: #dee7ec;
        color: #889eab;
    }
    /*Styling dua element sekaligus dapat di lakukan menggunakan tanda koma (,)*/
    input, textarea{
        width: 400px;
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 20px;
        font-size: 18px;
        border: 1px solid #dee7ec;
    }


    /*Class ini adalah container yang menampung element element yang ada didalamnya*/
    .Footer{
        padding: 40px;
        background-color: #2f5167;
        height: 120px;
    }
    
    /*Class ini berfungsi untuk mengatur logo (Progate) pada footer*/
    .Footer-logo{
        color: #fff;
        float: left;
        font-size: 36px;
    }
    
    /*Class ini berfungsi untuk mengubah letak list secara keseluruhan*/
    .Footer-list{
        float: right;
    }
    /*Class ini berfungsi untuk mengubah jarak antar item yang ada di list*/
    .Footer-list li{
        padding-bottom: 20px;
    }