/* Styling tag <body> */
body{
    margin: 0;
    font-family: "Lucida Grande";
}

/* Styling tag <a> atau button */
a{
    text-decoration: none;
}

.top-wrapper{
    /* text-align berfungsi untuk mengatur letak text yang sudah di atur oleh css ada 3 setting (center, left, right) */
    text-align: center;
    background-size: cover;
    padding: 180px 0px 100px 0px;
    color: white;
    background-image: url("https://prog-8.com/images/html/advanced/top_en.png");
}

.top-wrapper h1{
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p{
    opacity: 0.7;
    margin-bottom: 3px;
}

.container{
    width: 1170px;
    padding: 0px 15px 0px 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Styling class button-wrapper */
.btn-wrapper{
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-wrapper p{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Styling class button */
.btn{
    padding: 12px 24px 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

/* Membuat animasi hover atau ketika cursor di atas button */
.btn:hover{
    opacity: 1;
}

.signup{
    background-color: #239b76;
}

.facebook{
    margin-right: 10px;
    background-color: #3b5998;
}

.twitter{
    background-color: #55acee;
}

/* Styling icon font awesome */
.fa{
    margin-right: 5px;
}

/* Styling header */
header{
    /* position fixed berfungsi untuk mempertahankan letak ketika website di geser atau di scroll */
    position: fixed;
    /* top 0 berfungsi untuk menghilangkan gap atau celah */
    top: 0;
    /* z-index berfungsi untuk memberikan skala prioritas tumpukan semakin besar value-nya maka element tersebut berada paling atas di antara element tumpukan lainnya */
    z-index: 10;
    
    height: 65px;
    /* menggunakan ukurang persentase berarti ukuran tersebut di ukur dari parent elementnya */
    width: 100%;
    /* rgba berfungsi untuk mengatur opacity dari warna yang dipakai, dan untuk mengatur opacity hanya bisa di lakukan dengan rgba */
    background-color: rgba(34, 49, 52, 0.9);
}

/* Styling header-left */
.header-left{
    float: left;
}

/* Styling header-right */
.header-right{
    /* transition berfungsi untuk mengatur berapa lama animasi hover */
    transition: all 1s;
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
}

.header-right a{
    /* line-height berfungsi untuk mengatur tinggi dari teks yg ada di dalam element, jika height dan line-height memiliki tinggi yang sama maka text tersebut berada di tengah container */
    line-height: 65px;
    padding: 0px 25px 0px 25px;
    color: white;
    /* display block berfungsi untuk membuat tombol text bisa di klik menyesuaikan ukuran containernya */
    display: block;
}

/* Styling header-right hover */
.header-right:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

/* Styling logo */
.logo{
    width: 124px;
    margin-top: 20px;
}